body{
    background-image: linear-gradient(rgb(255, 94, 0), rgb(255, 196, 0),rgb(251, 255, 0) ) ;
}
h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(72, 255, 0);
}
#copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#camera{
    width: 500px;
    height:400px;
    border-color:red ;
    border-radius: 10%;
}
img:hover{
    border-radius: 140px;
}